{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fb6b2f;">
        <a class="navbar-brand " href="/">
            <img id="aircooles-logo" src="{{ url_for('static', filename='/aircooles-white.png') }}" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link display-6" href="/clients">Client List</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link display-6" href="#">Analytics</a>
                </li>

                {# <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> #}
            </ul>
        </div>
    </nav>

    <div class="client-base">
        <div class="searchClient">
            <h1 id="tableName">Client Table</h1>
            <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for client">
        </div>

        <div class="client-table">            
            <table id="myTable">
                    <!-- Iterate over headers to display column names -->
                <tr class="headers">
                    {% for header in cellList[0] %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>

                    <!-- Iterate over the rows in cellList -->
                {% for row in cellList[1:] %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock  %}