{% extends "layout.html" %}

{% block content %}
    <div class="contents">
        <img id="aircooles-logo" src="{{ url_for('static', filename='/aircooles.png') }}" alt="">
        <form action="/getDetails" method="post">
            <div class="client-details">
                <label for="clientBill">Client Name</label>
                <input type="text" name="clientName" for="clientName" id="clientName" placeholder="Input client name">
                <label for="clientBill">Client's Bill</label>
                <input type="text" name="clientBill" for="clientBill" id="clientBill" placeholder="Input bill">
                <label for="clientBill">Client Address (Example Format: Blk 14 Lot 8, Brgy. Salawag, Dasmariñas, Cavite)</label>
                <input type="text" name="clientAddress" for="clientAddress" id="clientAddress" placeholder="Input client Address">
            </div>

            <div class="services-available">
                <div class="services-label">
                    <label for="clientService">Services Availed</label>
                </div>

                <div class="services-checkbox">
                    <div class="checkboxes1">
                        <label><input type="checkbox" name="cleaning" value="Availed">Aircon Cleaning</label>
                        <label><input type="checkbox" name="check-up" value="Availed">Check-up</label>
                        <label><input type="checkbox" name="dismantle" value="Availed">Dismantle</label>
                    </div>

                    <div class="checkboxes2">
                        <label><input type="checkbox" name="relocation" value="Availed">Relocation</label>
                        <label><input type="checkbox" name="installation" value="Availed">Installation</label>
                    </div>
                </div>
            </div>

            <input type="submit" value="Register Client">
        </form>
        
        <div class="client-base">
            <div class="searchClient">
                <h1>Client Table</h1>
                <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for client">
            </div>

            <div class="client-table">            
                <table id="myTable">
                    <!-- Iterate over headers to display column names -->
                    <tr class="headers">
                        {% for header in cellList[0] %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>

                    <!-- Iterate over the rows in cellList -->
                    {% for row in cellList[1:] %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    {# <table>
        <tr>
            {% for bill in billList %}
                <td>{{ bill }}</td>
            {% endfor %}
        </tr>

        <tr>
            {% for names in nameList %}
                <td>{{ names }}</td>
            {% endfor %}
        </tr>
    </table> #}
    
    <script src="{{ url_for('static', filename='/index.js') }}"></script>
{% endblock %}