{% extends "layout.html" %}

{% block content %}
    {# <nav class="navbar navbar-dark" style="background-color: #fb6b2f;">
        <a class="navbar-brand" href="#">
            <img id="aircooles-logo" src="{{ url_for('static', filename='/aircooles-white.png') }}" class="d-inline-block align-top" alt="">
        </a>
    </nav> #}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fb6b2f;>
        <a class="navbar-brand" href="#">
            <img id="aircooles-logo" src="{{ url_for('static', filename='/aircooles-white.png') }}" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link display-6" href="#">Client List</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link display-6" href="#">Analytics</a>
                </li>

                {# <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> #}
            </ul>
        </div>
    </nav>

    <div class="contents">
        <form action="/getDetails" method="post">
            <div class="client-details">
                <label for="clientBill">Client Name</label>
                <input type="text" name="clientName" for="clientName" id="clientNameInput" placeholder="Input client name">
                <label for="clientNumber">Client Phone Number</label>
                <input type="text" name="clientNumber" for="clientNumber" id="clientNumberInput" placeholder="Input phone number">
                <label for="clientBill">Client's Bill</label>
                <input type="text" name="clientBill" for="clientBill" id="clientBillInput" placeholder="Input bill">
                <label for="clientBill">Address</label>
                <input type="text" name="clientAddress" for="clientAddress" id="clientAddressInput" placeholder="Input client Address">
            </div>

            <div class="services-available">
                <div class="services-label">
                    <label for="clientService"><strong>Services Availed by the Client</strong></label>
                </div>
    
                <div class="services-checkbox">
                    <div class="checkboxes1">
                        <label><input type="checkbox" name="cleaning" value="Availed">Cleaning</label>
                        <label><input type="checkbox" name="check-up" value="Availed">Check-up</label>
                        <label><input type="checkbox" name="dismantle" value="Availed">Dismantle</label>
                    </div>

                    <div class="checkboxes2">
                        <label><input type="checkbox" name="relocation" value="Availed">Relocation</label>
                        <label><input type="checkbox" name="installation" value="Availed">Installation</label>
                    </div>
                </div>
            </div>

            <input id="submitButton" type="submit" value="Register Client">
        </form>
        
        <div class="client-base">
            <div class="searchClient">
                <h1 id="tableName">Client Table</h1>
                <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for client">
            </div>

            <div class="client-table">            
                <table id="myTable">
                    <!-- Iterate over headers to display column names -->
                    <tr class="headers">
                        {% for header in cellList[0] %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>

                    <!-- Iterate over the rows in cellList -->
                    {% for row in cellList[1:] %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    {# <table>
        <tr>
            {% for bill in billList %}
                <td>{{ bill }}</td>
            {% endfor %}
        </tr>

        <tr>
            {% for names in nameList %}
                <td>{{ names }}</td>
            {% endfor %}
        </tr>
    </table> #}
    
    <script src="{{ url_for('static', filename='/index.js') }}"></script>
{% endblock %}