@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fb6b2f;
}

#aircooles-logo{
    height: 52.5px;
    width: 346px;
    margin-left: 6rem;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.client-details, .services-available{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.services-checkbox, .checkboxes1, .checkboxes2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-checkbox label, .services-checkbox input{
    margin: .30rem;
    text-align: center;
}

.client-details,.client-table,.services-available{
    margin: 1rem;
}

.contents{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.headers th{
    background-color: #fb6b2f;
}

.searchClient{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
}

.client-base{
    background-color: #f2f2f2;
    height: auto;
    width: auto;
}

.client-table{
    height: 30rem;
    width: 100%;
    overflow: auto;
    object-fit: cover;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.client-table table{
    text-align: center;
    border-collapse: collapse;
    /* border: 1px solid rgb(106, 106, 106); */
}

#myInput{
    width: 30rem;
    height: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px   solid #fb6b2f ;
    background-color: #f2f2f2;
}

.searchClient h1{
    color: #fb6b2f;
    font-size: 2rem;
    background-color: #f2f2f2;
}

.client-table tr{
    text-align: center;
}

th,td{
    padding: .5rem;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-bottom: 1px solid rgb(106, 106, 106);
    background-color: #f2f2f2;
}

th{
    font-weight: 700;
    font-size: 1.25rem;
    color: #f2f2f2;
}

tr:hover, td:hover{
    color: #fb6b2f;
    font-weight: 800;
}

td{
    font-weight: 500;
    width: 10rem;
    font-size: 1rem;
}


.client-base{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    /* background-color: rgb(113, 113, 113); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 480px) {
    *{
        overflow: hidden;
        overflow-y: scroll;
    }
    .services-available{
        width: 25rem;
    }

    .client-base{
        border-radius: 2rem;
    }

    #tableName{
        font-size: 2rem;
        margin-top: -.5rem;
        margin-bottom: .5rem;
    }

    #myInput{
        width: auto;
        height: .5rem;
        padding: .75rem;
        font-size: .8rem;
        
    }

    .services-available label{
        font-size: 1rem;
    }

    .client-table{
        height: 25rem;
        width: 18rem;
        
    }

    .client-table th{
        font-size: .8rem;
    }

    .client-table td{
        font-size: .6rem;
    }
    
    .client-table th, .client-table td{
        text-align: justify;
    }


    td{
        font-weight: 500;
        width: 5rem;
    }

    .services-checkbox{
        flex-direction: column;
    }

    .searchClient h1{
        color: #fb6b2f;
        font-size: 3rem;
    }
}
