<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills Tracker</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>hello</h1>
    <form action="/addBill" method="post">
        <label for="monthBill">Bill Month</label>
        <input type="month" name="billMonth">
        <label for="waterBill">Water Bill Amount</label>
        <input type="number" name="billAmount">
        <input type="submit" value="Register">
    </form>

    <div id="plotly-plot"></div>
        
    <script>
        var plot_data = {{ plot_json|safe }};
        Plotly.react('plotly-plot', plot_data.data, plot_data.layout);
    </script>
</body>
</html>